.App {
    /*display: flex;*/
    position: absolute;
    /*top: 0;
    bottom: 0;*/
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 150px;
    border: 1px solid yellow;
    background-color: lightyellow;
}


